.main-galery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    font-family: 'Inter', sans-serif;

    .qtr {
        z-index: 1;
        width: 600px;
        height: 500px;
        position: absolute;
        transform: rotate(-200deg);
        transition: 1s ease-in-out;
    }

    .quadrado-1 {
        top: 80px;
        left: 5%;
    }

    .quadrado-2 {
        top: 80px;
        left: 60%;
    }

    .quadrado-3 {
        top: 800px;
        left: 60%;
    }

    .quadrado-4 {
        top: 800px;
        left: 5%;
    }

    .back-content {
        height: 40px;
        color: #ffffff9f;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        position: absolute;
        align-items: center;

        span {
            font-size: 2rem;
        }

        div {
            font-weight: 600;
            margin-left: 20px;
            font-size: 1.5rem;
            font-family: 'Roboto', sans-serif;
        }
    }

    .deslike {
        height: 20px;
        cursor: pointer;
        margin-left: 20px;
        color: rgb(43, 43, 43);
        transition: .5s ease-in-out;

        span {
            font-size: 40px;
        }
    }

    .deslike:hover {
        transform: rotate(360deg);
    }

    .container-galery-post {
        z-index: 2;
        width: 540px;
        display: flex;
        height: 430px;
        margin: 100px 20px 100px 40px;

        div:nth-child(1) {
            margin: 0 10px 0 0;

            img {
                width: 70px;
                height: 70px;
            }
        }

        div:nth-child(2) {
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.308) 1px 1px 7px;

            .img {
                padding: 0;
                margin: 0;
                width: 100%;
                height: 440px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            ul {

                display: flex;
                list-style: none;
                align-items: center;

                li:nth-child(1) {
                    color: rgb(15, 219, 124);
                }

                li {
                    cursor: pointer;
                    margin: 15px 10px 0 10px;

                    .material-symbols-outlined {
                        font-variation-settings:
                            'FILL' 100,
                            'wght' 400,
                            'GRAD' 0,
                            'opsz' 48
                    }

                    span {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .main-galery {
        display: flex;
        justify-content: center;

        .back-content {
            width: 100%;
        }
    }

    .qtr {
        display: none;
    }

}

@media screen and (max-width: 725px) {
    .main-galery {

        .container-galery-post {
            display: flex;
            position: relative;
            flex-direction: column;

            .deslike {
                position: absolute;
                top: 20px;
                right: 0;
            }
        }
    }

}

@media screen and (max-width: 360px) {
    .main-galery {
        .container-galery-post {
            margin: 100px 20px 10px 40px;

            div:nth-child(1) {
                margin-bottom: 10px;
            }

            div:nth-child(2) {
                .img {
                    height: 300px;
                }
            }
        }
    }

}